.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #c97618;
}

h3 {
  margin-bottom: 1em;
}

.footer-title-style {
  margin-bottom: 1em;
  text-decoration: underline rgb(155, 234, 248) solid;
  margin-bottom: 5%;
}

.socialMedia-header-style {
  margin-bottom: 1em;
  margin-bottom: 2%;
}

.insta-button-cls {
  background-image: url("https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square1-512.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.twitter-button-cls {
  background-image: url("https://pbs.twimg.com/profile_images/875135141135302656/eiM2Wz66_400x400.jpg");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.linkedin-button-cls {
  background-image: url("https://cdn3.iconfinder.com/data/icons/inficons/512/linkedin.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.footer-mainCard {
  background-image: none;
  border: none;
  border-radius: 0;
}

.footer-link {
  color: white;
  background-color: transparent;
}

.footer-link:hover {
  color: white;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}

/* Navbar CSS */
nav.navbar,
.navbar-default {
  background-color: #4a6fd6 !important;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: transparent;
}

.btn-outline-dark {
  color: white;
  border-color: white;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.splitter-section {
  height: 1em;
  border-top: rgb(40, 99, 109) solid;
  margin-top: 1em;
}
