.jumbotron {
  margin-bottom: 0em;
  background-color: #474748;
  border-radius: 0em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #f8c51c;
}

h3 {
  margin-bottom: 1em;
}

.footer-title-style {
  margin-bottom: 1em;
  text-decoration: underline #f8c51c solid;
  margin-bottom: 5%;
}

.socialMedia-header-style {
  margin-bottom: 1em;
  margin-bottom: 2%;
}

.insta-button-cls {
  background-image: url("https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square1-512.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.twitter-button-cls {
  background-image: url("https://pbs.twimg.com/profile_images/875135141135302656/eiM2Wz66_400x400.jpg");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.linkedin-button-cls {
  background-image: url("https://cdn3.iconfinder.com/data/icons/inficons/512/linkedin.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.footer-mainCard {
  background-image: none;
  border: none;
  border-radius: 0;
}

.footer-link {
  color: white;
  background-color: transparent;
}

.footer-link:hover {
  color: white;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
}

/* Navbar CSS */
nav.navbar,
.navbar-default {
  background-color: #f8c51c !important;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
  background-color: transparent;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.btn-outline-dark {
  color: white;
  border-color: white;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.splitter-section {
  height: 1em;
  border-top: black solid thin;
  margin-top: 1em;
}

.splitter-section-no-border {
  height: 1em;
  margin-top: 1em;
}

.form-style {
  border: white solid thin;
  padding: 1em;
  margin-bottom: 1em;
  padding: 2em;
}

.jumbotron-sizing {
  padding-top: 0em;
}

.banner-container {
  position: relative;
  text-align: center;
  color: white;
}

.banner-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  color: black;
}

.container {
  background-color: #1a1a1b;
  padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

.card-body {
  background-color: grey;
}

label {
  color: white;
}
