.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #c97618;
}

h3 {
  margin-bottom: 1em;
}

.footer-title-style {
  margin-bottom: 1em;
  text-decoration: underline rgb(155, 234, 248) solid;
  margin-bottom: 5%;
}

.socialMedia-header-style {
  margin-bottom: 1em;
  margin-bottom: 2%;
}

.insta-button-cls {
  background-image: url("https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-square1-512.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.twitter-button-cls {
  background-image: url("https://pbs.twimg.com/profile_images/875135141135302656/eiM2Wz66_400x400.jpg");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.linkedin-button-cls {
  background-image: url("https://cdn3.iconfinder.com/data/icons/inficons/512/linkedin.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}

.footer-mainCard {
  background-image: none;
  border: none;
  border-radius: 0;
}

.footer-link {
  color: white;
  background-color: transparent;
}

.footer-link:hover {
  color: white;
}
