.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #c97618;
}

h3 {
  margin-bottom: 1em;
}

.footer-title-style {
  margin-bottom: 1em;
  text-decoration: underline yellow solid;
  margin-bottom: 5%;
}

.socialMedia-header-style {
  margin-bottom: 1em;
  margin-bottom: 2%;
}
