.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #c97618;
}

h3 {
  margin-bottom: 1em;
}

.footer-title-style {
  margin-bottom: 1em;
  text-decoration: underline rgb(155, 234, 248) solid;
  margin-bottom: 5%;
}

.socialMedia-header-style {
  margin-bottom: 1em;
  margin-bottom: 2%;
}

.insta-button-cls {
  background-image: url("https://store-images.s-microsoft.com/image/apps.58521.13510798887167234.713cc0e4-e4a7-4f7c-8cde-9c6a53872b1d.539a5fdf-76a3-486f-bb0f-d2dce82923cc?mode=scale&q=90&h=200&w=200&background=%230078D7");
  background-size: cover;
  width: 30px;
  height: 30px;
  font-size: 2rem;
}
